@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", serif;
    font-weight: 300
}

.head {
    height: 1440px;
    width: 659px;
}

.body {
    padding: 0 150px;
    height: 4960px;
    width: 1440px;

}

.logo {
    display: flex;
    align-items: center;

}

.logo__img {
    width: 50px;
    height: 50px;
}

.logo__text {
    margin: 0 0 0 10px;
    font-size: 30px;
    font-weight: 800;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.header__left {
    display: flex;
}

.header__right {
    display: flex;
}

.navigation {
    margin: 0 0 0 20px;
}

.navigation__list {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation__list li {
    margin: 0 0 0 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.button__sign a {
    color: #0070A0;
}

.button__book__header {
    padding: 8px 20px;
    color: white;
    background-color: #006B99;

}

.button__book__header {
    margin: 0 0 0 30px;

}

.presentation__title {
    font-size: 58px;
    font-weight: 400;
    margin: 40px 0 0 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.presentation {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 0 0;
}

.presentation__text {
    width: 350px;
    font-size: 20px;
    margin: 30px 0 0 0;

}

.presentation__right {
    width: 452px;
    height: 422px;
}

.button__book__presentation {
    margin: 30px 0 0 0;
    padding: 10px 18px;
    color: white;
    background-color: #006B99;
}

.button__more {
    margin: 30px 0 0 20px;
}

.arrow__right {
    width: 15px;
    height: 19px;
    margin: 30px 0 0 7px;
}

.partners {
    display: flex;
    margin: 30px 0 0 -80px;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.partners__text {
    margin: 100px 0 0 350px;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.blocks__color {
    padding: 50px 0 50px 0;
    display: flex;
    width: 1130px;
    height: 255px;

}

.block__left__yellow {
    background-color: #FAEA73;
    width: 355px;
    height: 255px;
    margin: 50px 0 0 30px;
}

.block__center__blue {
    background-color: #CCEFF6;
    width: 355px;
    height: 255px;
    margin: 50px 0 0 30px;

}

.block__right__red {
    background-color: #F7CEDC;
    width: 355px;
    height: 255px;
    margin: 50px 0 0 30px;
}

.block__img__yellow {
    margin: 32px 0 0 32px;
    width: 45px;
    height: 45px;
}

.title__yellow {
    padding: 10px 0 0 32px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.subtitle__yellow {
    padding: 10px 0 0 32px;

}

.block__img__blue {
    margin: 16px 0 0 32px;
    width: 55px;
    height: 55px;
}

.title__blue {
    padding: 10px 0 0 32px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.subtitle__blue {
    padding: 10px 0 0 32px;
}

.block__img__red {
    margin: 16px 0 0 32px;
    width: 55px;
    height: 55px;
}

.title__red {
    padding: 10px 0 0 32px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.subtitle__red {
    padding: 10px 0 0 32px;
}

.relaxing__background {
    margin: 200px 0 0 -150px;
    width: 1450px;
    height: 694px;
    background-color: #F7F9FA;
}

.relaxing {
    height: 534px;
    width: 1230px;
}

.relaxing__title {
    height: 100px;
    width: 650px;
    padding: 40px 0 0 190px;
    font-size: 32px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.relaxing__list {
    display: inline-block;
}

.relaxing__img {
    padding: 0 0 0 550px;
}

.antiloss {
    display: inline;
    width: 450px;
    height: 157px;
}

.relaxing__list-item {
    display: grid;
    grid-template-columns: 50px 200px 50px;
    grid-template-rows: 50px 100px;
    grid-template-areas:
        "img title arrow"
        "empty subtitle empty";

}

.relaxing__list-item__title {
    grid-area: title;
}

.relaxing__list-item__subtitle {
    grid-area: subtitle;
}

.relaxing__arrow__down {
    grid-area: arrow;
}

.relaxing__list-item__img {
    grid-area: img;
    margin: 30px 0 0 15px;
    width: 32px;
    height: 32px;
}

.antiloss__title {
    font-size: 21px;
    font-weight: 400;
    margin: 40px 0 0 30px;
}

.antiloss__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 70px 0 0 30px;
}

.about {
    display: flex;
    margin: 100px 0 0 0;
    width: 1130px;
    height: 238px;
}

.about__left {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    width: 263px;
    height: 51px;
}

.about__right {
    display: flex;
    width: 732px;
    height: 218px;
}

.place__title {
    width: 194px;
    height: 32px;
    margin: 62px 20px 0 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.place__subtitle {
    margin: 0 20px 0 50px;
    width: 207px;
    height: 96px;
    font-size: 15px;
}

.alerts__title {
    width: 180px;
    height: 32px;
    margin: 10px 30px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.alerts__subtitle {
    width: 180px;
    height: 96px;
    font-size: 15px;
    margin: 0 30px 0 0;
}

.secure__title {
    width: 180px;
    height: 32px;
    margin: 10px 30px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.secure__subtitle {
    width: 180px;
    height: 96px;
    font-size: 15px;
    margin: 0 20px 0 0;
}

.track__background {
    margin: 70px 0 0 -150px;
    width: 1440px;
    height: 515px;
    background-color: #0070A0
}

.track {
    width: 1130px;
    height: 500px;
    margin: 80px 0 0 155px;
    display: flex;
    justify-content: space-around;
}

.bulb__img {
    width: 382px;
    height: 374px;
    margin: 60px 0 0 0;

}

.track__title {
    margin: 70px 0 0 0;
    width: 403px;
    height: 101px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: white;
}

.track__subtitle {
    width: 481px;
    height: 68px;
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.vok__img {
    padding: 0 5px 0 0;
}

.track__list__1 {
    width: 501px;
    height: 21px;
    margin: 20px 0 0 0;
    color: white;
}

.track__list__2 {
    width: 501px;
    height: 21px;
    margin: 10px 0 0 0;
    color: white;

}

.track__list__3 {
    width: 501px;
    height: 21px;
    margin: 10px 0 0 0;
    color: white;

}

.button__book__track {
    width: 176px;
    height: 43px;
    padding: 30px 0 0 0;
    margin: 0 0 0 35px;
    display: flex;
    align-items: center;
    color: white;
}

.automated {
    width: 1130px;
    margin: 100px 0 0 0;
    height: 220px;

}

.tasks {
    width: 650px;
    height: 122px;
}

.tasks__title {
    width: 456px;
    height: 51px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
}

.tasks__subtitle {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 400;
}

.automated__block {
    display: flex;
    margin: -50px 0 0 0;
    justify-content: space-around;
}

.learn {
    margin: 20px 0 0 -20px;
    width: 235px;
    height: 218px;
}

.learn__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.learn__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.stay {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.stay__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.stay__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.automated__all {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.automated__all__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.automated__all__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.informed {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.informed__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.informed__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.like {
    width: 60px;
    height: 53px;
}