@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", serif;
    font-weight: 300
}

.body {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 600px;
    }
}






.logo {
    display: flex;
    align-items: center;

}

.logo__img {
    width: 50px;
    height: 50px;
}

.logo__text {
    margin: 0 0 0 10px;
    font-size: 30px;
    font-weight: 800;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header {

    margin: 0 auto;
    padding: 20px 0 0 0;
}

.header__left {
    display: flex;
}

.header__right {
    display: flex;
}
.presentation__right__calendar{
    width: 452px;
    height: 422px;
}
.navigation {
    margin: 0 0 0 20px;
}

.navigation__list {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation__list li {
    margin: 0 0 0 20px;
}

.buttons {
    display: flex;
    align-items: center;
}

.button__sign a {
    color: #0070A0;
}

.button__book__header {
    padding: 8px 20px;
    color: white;
    background-color: #006B99;

}

.button__book__header {
    margin: 0 0 0 30px;

}

.presentation__container {
    display: flex;
    justify-content: space-between;
}

.presentation__title {
    font-size: 58px;
    font-weight: 400;
    margin: 40px 0 0 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.presentation {


    margin-top: 60px;
}

.presentation__text {
    width: 350px;
    font-size: 20px;
    margin: 30px 0 0 0;

}

.presentation__right {
    /* width: 452px;
    height: 422px; */
}

.button__book__presentation {
    margin: 30px 0 0 0;
    padding: 10px 18px;
    color: white;
    background-color: #006B99;
}

.button__more {
    margin: 30px 0 0 20px;
}

.arrow__right {
    width: 15px;
    height: 19px;
    margin: 30px 0 0 7px;
}

.partners__logo {
    display: flex;
    margin: 30px 0 0 -80px;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.partners__text {
    margin: 100px 0 0 350px;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.blocks__color {
    margin: 50px 0 0 0;
    display: flex;
    /* width: 1130px; */
    /* height: 255px; */

}

.block__left__yellow {
    background-color: #FAEA73;
    /* width: 355px;
    height: 255px; */
    margin: 50px 0 0 0;
}

.block__center__blue {
    background-color: #CCEFF6;
    /* width: 355px;
    height: 255px; */
    margin: 50px 0 0 30px;

}

.block__right__red {
    background-color: #F7CEDC;
    /* width: 355px;
    height: 255px; */
    margin: 50px 0 0 30px;
}

.block__img__yellow {
    margin: 32px 0 0 32px;
    width: 45px;
    height: 45px;
}

.title__yellow {
    padding: 10px 0 0 32px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.subtitle__yellow {
    padding: 10px 0 0 32px;

}

.block__img__blue {
    margin: 16px 0 0 32px;
    width: 55px;
    height: 55px;
}

.title__blue {
    padding: 10px 0 0 32px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.subtitle__blue {
    padding: 10px 0 0 32px;
}

.block__img__red {
    margin: 16px 0 0 32px;
    width: 45px;
    height: 45px;
}

.title__red {
    padding: 10px 0 0 32px;
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.subtitle__red {
    padding: 10px 0 0 32px;
}
@media (max-width: 1200px) {
    .relaxing__page{
        flex-direction: column;
    }
}

.relaxing__page{
    width: 100%;
}
.relaxing__left {
    display: contents;

}

.relaxing__background {
    margin: 100px 0 0 0;
    width: 100%;
    height: 630px;
    background-color: #F7F9FA;
}

.relaxing {
    display: flex;
    margin: 100px 0 0 0;
    height: 534px;
    /* width: 1230px; */
}

.relaxing__title {
    height: 100px;
    width: 650px;
    padding: 80px 0 0 50px;
    font-size: 38px;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.relaxing__img {
    display: flex;
    padding: 0 0 0 10px;
}




.relaxing__list-item {
    display: grid;
    margin: 10px 0 0 30px;
    padding: 10px;

    width: 450px;
    height: 60px;
    overflow: hidden;
    transition: 500ms;


    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px 100px;
    align-items: center;
    justify-items: auto;
    border-top: 1px solid #ddd;
    border-radius: 8px;
    border-bottom: 1px solid #ddd;

    grid-template-areas:
        "img title arrow"
        ". subtitle .";

}

.relaxing__list-item:hover {
    height: 200px;
}

.relaxing__list-item:hover>.relaxing__arrow__down {
    transform: rotate(-180deg);
}

.relaxing__list-item__title {
    grid-area: title;
    font-weight: bold;

}

.relaxing__list-item__subtitle {
    grid-area: subtitle;
    align-items: center;
}

.relaxing__arrow__down {
    transition: 500ms;
    grid-area: arrow;
    align-items: center;
}

.relaxing__list-item__img {
    grid-area: img;
    margin: 0 0 0 15px;
    width: 32px;
    height: 32px;
    /* align-items: center; */
}

.antiloss__title {
    font-size: 21px;
    font-weight: 400;
    margin: 40px 0 0 30px;
}

.relaxing__right {
    width: 650px;
    height: 300px;
    margin: 0 0 100px 100px;
}
@media (max-width: 1200px) {
    .about{
        flex-direction: column;
    }
}

.about {
    display: flex;
    margin: 100px 0 0 0;
    /* width: 1130px;
    height: 238px; */
}

.about__left {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
    width: 263px;
    height: 51px;
}

.about__right {
    display: flex;
    width: 732px;
    height: 218px;
}

.place__title {
    width: 194px;
    height: 32px;
    margin: 62px 20px 0 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.place__subtitle {
    margin: 0 20px 0 50px;
    width: 207px;
    height: 96px;
    font-size: 15px;
}

.alerts__title {
    width: 180px;
    height: 32px;
    margin: 10px 30px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.alerts__subtitle {
    width: 180px;
    height: 96px;
    font-size: 15px;
    margin: 0 30px 0 0;
}

.secure__title {
    width: 180px;
    height: 32px;
    margin: 10px 30px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.secure__subtitle {
    width: 180px;
    height: 96px;
    font-size: 15px;
    margin: 0 20px 0 0;
}

.track__background {
    margin: 70px 0 0 0;

    height: 515px;
    background-color: #0070A0
}

.track {
    /* width: 1130px;
    height: 500px; */
    margin: 80px 0 0 155px;
    display: flex;
    justify-content: space-between;
}

.bulb__img {
    width: 382px;
    height: 374px;
    margin: 60px 0 0 0;

}

.track__title {
    margin: 70px 0 0 0;
    /* width: 403px; */
    height: 101px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
    color: white;
}

.track__subtitle {
    /* width: 481px; */
    height: 68px;
    margin: 20px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.vok__img {
    padding: 0 5px 0 0;
}

.track__list__1 {
    /* width: 501px; */
    height: 21px;
    margin: 20px 0 0 0;
    color: white;
}

.track__list__2 {
    width: 501px;
    height: 21px;
    margin: 10px 0 0 0;
    color: white;

}

.track__list__3 {
    width: 501px;
    height: 21px;
    margin: 10px 0 0 0;
    color: white;

}

.button__book__track {
    width: 176px;
    height: 43px;
    padding: 30px 0 0 0;
    margin: 0 0 0 35px;
    display: flex;
    align-items: center;
    color: white;
}

.automated__page{
    margin-top: 100px;
}
.automated {
    padding: 100px 0 0 0;
  
    display: contents;

}

.tasks {
    margin-left: 150px;
    width: 650px;
    /* height: 122px; */
}

.tasks__title {
    width: 456px;
    height: 51px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
}

.tasks__subtitle {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 400;
}

.automated__block {
    display: flex;
    margin: 20px 0  0 100px; 
    justify-content: space-around;
}

.learn {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.learn__title {
    margin: 20px 0 30px 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.learn__subtitle {
    margin: 10px 0 30px 0;
    font-size: 16px;
    font-weight: 400;
}

.stay {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.stay__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.stay__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.automated__all {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.automated__all__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.automated__all__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.informed {
    margin: 20px 0 0 0;
    width: 235px;
    height: 218px;
}

.informed__title {
    margin: 20px 0 0 0;
    width: 231px;
    height: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.informed__subtitle {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}

.like {
    width: 60px;
    height: 53px;
}

.blog__background {
    margin: 100px 0 0 0;
    background-color: #F7F9FA;

}

.blog__inform__header {
    padding: 50px 0 0 100px;
    display: flex;
    justify-content: space-between;
}

.blog__inform__header__right__button {
    width: 174px;
    height: 43px;
    color: #006B99;
    align-content: center;
}

.blog__inform__header__left {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin: 0 0 0 0;
}

.blog__inform {
    display: flex;
    justify-content: space-around;

    margin: 30px 0 0 0;
    padding: 0 0 0 20px;
}
@media (max-width: 1200px) {
    .blog__inform{
        flex-direction: column;
    }
}

.blog__inform-item__img {

    width: 355px;
    height: 238px;
}

.blog__inform-item__subtitle1 {
    background-position: 10px 0 0 10px;
    font-size: 12px;
    color: #006B99;
}


.blog__inform-item__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    text-align: left;

}

.blog__inform-item__subtitle2 {
    margin: 10px 0 0 10px;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    justify-content: center;

}

.blog__inform-item__subtitle3 {
    margin: 10px 0 0 10px;
    font-size: 12px;
    font-weight: 200;
    display: flex;

}

.blog__inform-item__text {
    background-color: white;
    width: 355px;
    height: 200px;

}

.blog__inform-item__subtitle1__background {
    background-color: #E6F7FF;
    display: inline-flex;
    padding: 8px 11px;
    margin-top: 10px;
    margin-left: 10px;


}

.started__background {
    margin: 100px 0 0 0;
    background-color: #E6F7FF;
}

.started__main {
    padding: 50px 600px 50px 50px;
}

.started__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 42px;
    margin: 10px 0 0 0;
    text-align: left;
}

.started__subtitle {
    margin: 20px 0 0 0;
    font-size: 18px;
    font-weight: 400;
    display: flex;
}

.started__advantages {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: baseline;
    gap: 30px;
    font-size: 13px;
    color: gray;
}

.footer {
    margin: 100px 0 0 0;
    display: flex;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__main__left {
    display: block;
    align-items: end;
    width: 433px;
    height: 216px;


}

.NAME__COMP {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.BUILD {
    padding: 10px 0 0 0;
}

.footer__main__center {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 0 0 0 70px;
}

.footer__main__center__left__title {
    font-size: 15px;
    font-weight: bold;
}

.footer__main__center__left__subtitle {
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0;
}

.footer__main__center__left__subtitle li {
    margin: 10px 0;
    padding: 0;
}

.footer__main__center__right__title {
    font-size: 15px;
    font-weight: bold;
}

.footer__main__center__right__subtitle {
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0;
}

.footer__main__center__right__subtitle li {
    margin: 10px 0;
    padding: 0;
}

.footer__main__right {
    margin: 0 0 0 200px;

}

.footer__main__right__title {

    font-size: 14px;
    font-weight: 500;
}

.footer__main__right__subtitle {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}

.footer__email {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px #ddd;
}

.footer__right__email {
    display: flex;
    margin-top: 30px;

}

.footer__arrow__right {
    width: 19px;
    height: 13px;
    align-items: center;
}

.footer__email__pack {
    display: flex;
}

.footer__rectangle__img {
    width: 2000px;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
}

.footer__icons__left {
    display: inline-flex;
    align-items: baseline;
    padding-top: 10px;

}

.footer__icons__link {
    align-items: baseline;
    font-size: 15px;
    padding-left: 3px;
}

.rectangle__img {
    margin-top: 30px;
}